.container {
  max-width: 30rem;
  margin-inline: auto;
}

.container > :first-child {
  margin-top: 0;
}

@media (min-width: 42rem) {
  .container {
    max-width: 45.5rem;
    margin-inline: auto;
  }
}
