@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(228, 33%, 97%);
  font-family: "Rubik", sans-serif;
  padding: 2rem 1rem;
  min-height: 100vh;
  position: relative;
}

@media (max-width: 16.25rem) {
  body {
    padding: 2rem 0;
  }
}

@media (min-width: 42rem) {
  body {
    padding: 4rem 1rem;
  }
}
